.tm{
    display: block;
    align-self: center;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    background-color: blue;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}